$font-main: var(--font-geist), "Arial", sans-serif;
$font-2: var(--font-geist), "Arial", sans-serif;
$font-3: var(--font-geist), "Arial", sans-serif;
$fontIcon: "icomoon";

:root {
  // color
  --white: #ffffff;
  --black: #000000;
  --main: #141415;
  --primary: #1b4ef5;

  --text-main: #f4f7f5a3; //64%
  --text-2: #f4f7f5;
  --text-3: #f4f7f552; //32%
  --text-4: #d0c6c6;
  --text-5: #5997ff;
  --text-6: #f4f7f5b3; //70%
  --text-7: #f4f7f580; //F4F7F5 50%

  --bg: #eef5ff;
  --bg-2: #141415d1;
  --bg-3: #d9e7ff;
  --bg-4: #bcd6ff;
  --bg-5: #8ebcff;
  --bg-6: #5997ff;
  --bg-7: #1b4ef5;
  --bg-8: #143ae1;
  --bg-9: #172fb6;
  --bg-10: #192e8f;
  --bg-11: #141e57;
  --bg-12: #000000a3;

  --line: #ffffff1a;

  --shadow-1: #a3a3a340;
  --green: #3fc53a;
  --star: #f1913d;
}
